body {
	background-color: transparent;
}

.container {
	padding: 0;
}

.suggestions-box {
	position: relative;
	width: 100%;
    overflow: hidden;
	display: none;
}

.suggestions-box[data-show-slides="true"] {
	width: 250px;
}

.suggestions-box.show {
	display: block;
}

button.prev-suggestion, button.next-suggestion {
	width: 20px;
	display: none;
}

button.prev-suggestion[disabled], button.next-suggestion[disabled] {
	background-color: gray;
}

.suggestions-box[data-show-slides="true"] button.prev-suggestion, .suggestions-box[data-show-slides="true"] button.next-suggestion {
	display: inline-block;
}

ul.suggestions {
	list-style: none;
	padding: 0;
    width: 100%;
    display: block;
	position: relative;
	clear: both;
}

.suggestions-box[data-show-slides="true"] ul.suggestions {
	left: 0;
	transition: left 0.5s linear;
    width: 1000px;
}

.suggestions-box[data-active-slide="0"] ul.suggestions {
	left: 0;
}

.suggestions-box[data-active-slide="1"] ul.suggestions {
	left: -250px;
}

.suggestions-box[data-active-slide="2"] ul.suggestions {
	left: -500px;
}

.suggestions-box[data-active-slide="3"] ul.suggestions {
	left: -750px;
}

ul.suggestions li {
	display: block;
	float: left;
	padding: 0;
	margin: 0;
}

.suggestions-box[data-show-slides="true"] ul.suggestions li {
	width: 250px;
}